<h2>Lista Compañeros!</h2>
<ul>
    <li *ngFor = "let lista of listas">
        NOMBRE: {{lista.nombre}} - GENERO: {{lista.genero}}
    </li>
</ul>

<h3> Añadir Compañero </h3>
<input #listaNombre placeholder="Nombre" />
<input #listaGenero placeholder="Genero" />
<button (click)="addCompanero({nombre: listaNombre.value, genero: listaGenero.value})">Añadir</button>


<h3> Añadir Compañero </h3>
<input #listaNombre2 placeholder="Nombre" />
<select #listaGenero2>
    <option *ngFor="let genero of generos" [value] = "genero"> {{genero}} </option>
</select>
<button (click)="addCompanero({nombre: listaNombre2.value, genero: listaGenero2.value})">Añadir</button>